.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.cards-font-color> ul > li {
  color: red; 
}

.section.card-section-layout-1{
  background-color: lightcyan; 
}

.section.card-section-layout-2{
  background-color: lightgray; 
}

.section.card-section-layout-2 .cards li{
  display:flex;
  flex-direction: column-reverse;
  color: orange;;
}

html[dir="rtl"] .cards.cards-font-color > ul > li {
  color: green;
}
